.add-note {
	font-weight: 400;
	/* width: 45%; */
	width: 40rem;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	font-size: 1.1rem;
	overflow-wrap: break-word;
	overflow: auto;
	box-shadow: rgba(0, 0, 0, 0.5) 0px 1px 3px;
	border-radius: 9px;
	padding: 1rem 1.2rem;
	background-color: #f8f9fa;
}

@media screen and (max-width: 1420px) {
	.add-note {
		width: 32rem;
	}
}
@media screen and (max-width: 980px) {
	.add-note {
		width: 28rem;
	}
}

@media screen and (max-width: 700px) {
	.add-note {
		width: 26rem;
	}
}
@media screen and (max-width: 544px) {
	.add-note {
		width: 22rem;
	}
}

.addnote-bg {
	display: flex;
	align-items: center;
	padding: 0.4rem;
	margin-bottom: 2.4rem;
	height: auto;
}

.add-note-container {
	margin-bottom: 2.4rem;
	padding: 1.2rem;
}

.add-close-btn-container {
	display: flex;
	align-items: center;
	justify-content: right;
}

.addnote-close-btn {
	display: flex;
	align-items: center;
	justify-content: center;
	border: none;
	background-color: transparent;
	border-radius: 50%;
	padding: 0.4rem;
	cursor: pointer;
}

.addnote-close-btn:hover {
	background-color: #dddce5;
}

.addnote-close-icon {
	width: 1.2rem;
	height: 1.2rem;
}

.addnote-title {
	font-size: 1.6rem;
	font-weight: 700;
	color: #38405f;
	padding-bottom: 0.8rem;
	border-bottom: 1px solid #d2d0dc;
	margin-bottom: 1.6rem;
}

.addnote-text-container {
	display: flex;
	align-items: center;
	justify-content: center;
}

.add-note textarea {
	background-color: #dddce5;
	padding-left: 0.6rem;
	padding-right: 0.6rem;
	/* padding-top: 1.2rem;
	padding-bottom: 1.2rem; */
	font-family: inherit;
	font-size: 1rem;
	line-height: inherit;
	color: #212529;
	/* height: 1.8rem; */
	border: none;
	resize: none;
	border-radius: 9px;
}
textarea {
	background-color: transparent;
	font-family: inherit;
	font-size: 0.9rem;
	line-height: inherit;
	color: #212529;
	height: 1.8rem;
	border: none;
	resize: none;
	border-radius: 9px;
}

textarea::placeholder {
	color: #343a40;
}

textarea:focus {
	outline: none;
}

.hidden {
	display: none;
}

.title {
	font-family: "Roboto";
	overflow: hidden;
	margin-bottom: 1.2rem;
	border-bottom: 2px solid #f1f3f5;
}

.text {
	margin-bottom: 1.6rem;
}

.note-btns {
	display: flex;
	gap: 1.2rem;
	justify-content: right;
}

.save {
	border: none;
	border-radius: 9px;
	padding: 0.6rem 1.4rem;
	font-family: inherit;
	font-size: 1rem;
	font-weight: 600;

	background-color: #444d74;
	color: #fff;
	cursor: pointer;
	transition: 2s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.save:hover {
	/* background-color: #535f8d;
	/* color: #373546; */
	color: #fff;
	background-color: #8b95bb;
}

/* .animation {
	animation: fadein 1s;
	animation-play-state: running;
}

@keyframes fadeIn {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

.animation2 {
	animation-name: fadeIn2;
	animation-duration: 1s;
}

@keyframes fadeIn2 {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
} */

/* Masonry */
.mason-margin {
	margin: 0 !important;
}
