/* 
#f28b82
#ffba08
#ffe066
#a9e34b
#ade8f4
#a5d8ff
#bac8ff
#cfbaf0

 */

.color-btn {
	font-weight: 700;
	background-color: transparent;
	padding: 0.3rem;
	border-radius: 5px;
	border: none;
	cursor: pointer;
	color: #535555;
}

.color-btn:hover {
	color: #212529;
	background-color: #e9ecef;
}

.color-icon {
	width: 1.5rem;
	height: 1.5rem;
}

.color-picker {
	display: grid;
	grid-template-columns: repeat(4, auto);
	align-items: center;
	justify-content: center;
	gap: 0.7rem;
}

.background {
	background-color: #dee2e6;
}

.red {
	background-color: #f28b82;
	width: 1.8rem;
	height: 1.8rem;
	border-radius: 50%;
}
.orange {
	background-color: #ffba08;
	width: 1.8rem;
	height: 1.8rem;
	border-radius: 50%;
}
.yellow {
	background-color: #ffe066;
	width: 1.8rem;
	height: 1.8rem;
	border-radius: 50%;
}
.green {
	background-color: #a9e34b;
	width: 1.8rem;
	height: 1.8rem;
	border-radius: 50%;
}
.light-blue {
	background-color: #ade8f4;
	width: 1.8rem;
	height: 1.8rem;
	border-radius: 50%;
}
.blue {
	background-color: #a5d8ff;
	width: 1.8rem;
	height: 1.8rem;
	border-radius: 50%;
}
.indigo {
	background-color: #bac8ff;
	width: 1.8rem;
	height: 1.8rem;
	border-radius: 50%;
}
.purple {
	background-color: #cfbaf0;
	width: 1.8rem;
	height: 1.8rem;
	border-radius: 50%;
}

.red:hover,
.orange:hover,
.yellow:hover,
.green:hover,
.blue:hover,
.light-blue:hover,
.indigo:hover,
.purple:hover {
	border: 2px solid #191719;
}

.red-bg {
	background-color: #f28b82;
	transition: all 0.4s ease-in;
}
.orange-bg {
	background-color: #ffba08;
	transition: all 0.4s ease-in;
}
.yellow-bg {
	background-color: #ffe066;
	transition: all 0.4s ease-in;
}
.green-bg {
	background-color: #a9e34b;
	transition: all 0.4s ease-in;
}
.light-blue-bg {
	background-color: #ade8f4;
	transition: all 0.4s ease-in;
}
.blue-bg {
	background-color: #a5d8ff;
	transition: all 0.4s ease-in;
}
.indigo-bg {
	background-color: #bac8ff;
	transition: all 0.4s ease-in;
}
.purple-bg {
	background-color: #cfbaf0;
	transition: all 0.5s ease-in;
}
