.notes {
	font-weight: 500;
	width: 80%;
	/* height: 10rem; */

	margin: 0 auto;
	display: flex;
	flex-direction: column;
	font-size: 1.1rem;
	/* align-items: center; */
	justify-content: center;
	overflow-wrap: break-word;
	overflow: auto;

	background-color: #74c0fc;
	box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 2px;
	border-radius: 9px;
	padding: 1.2rem;

	/* animation-duration: 1.5s;
	animation-name: slidein;
	animation-iteration-count: 1;
	animation-direction: alternate; */
}

.pin-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	/* width: fit-content; */
	justify-content: center;
	gap: 2.4rem;
}

.pin-note {
	background-color: #96f2d7;
}

.pin {
	width: 100%;
	align-items: center;
	justify-content: center;
	height: 53rem;
	overflow-y: auto;

	gap: 1.2rem;

	border-bottom: 3px solid #dee2e6;

	/* justify-content: center; */
}
