.nav-content {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	height: 3.6rem;
	padding-right: 3rem;
	padding-left: 3rem;
	/* box-shadow: 0 0 3rem rgba(0, 0, 0, 0.15); */
}

.nav-searchbar {
	display: flex;
	align-items: center;
	width: 50%;
	justify-content: space-between;
	gap: 1.2rem;
	padding: 0.4rem 0.8rem;
	background-color: #f1f3f5;
	border: 1px solid #ced4da;
	border-radius: 500px;
}

@media screen and (max-width: 750px) {
	.nav-searchbar {
		display: none;
	}

	.nav-content {
		justify-content: center;
	}
}

.searchbar {
	border: none;
	width: 100%;
	background-color: transparent;
	font-size: 1.2rem;
}

.searchbar-icon-container {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 0.8rem;
}

.searchbar-icon {
	color: #212529;
}

.close-icon {
	display: flex;
	align-items: center;
	cursor: pointer;
}

.searchbar:focus {
	outline: none;
}

.close-container {
	display: flex;
	align-items: center;
	justify-content: center;
	border-right: 1px solid #212529;
	padding-right: 0.8rem;
}

/*  */

.nav-search {
	height: 4rem;
	border-bottom: 2px solid #ced4da;
	display: flex;
	align-items: center;
	justify-content: space-around;
	/* margin-bottom: 2.4rem; */
}

.search-icon {
	width: 1.6rem;
	height: 1.6rem;
}

.sort {
	display: flex;
	align-items: center;
	justify-content: center;
	/* margin-left: 2.4rem;
	margin-right: 2.4rem; */
	/* margin-left: auto; */
	gap: 1.2rem;
}

.search-btn {
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: transparent;
	padding: 0.8rem;
	border-radius: 50%;
	border: none;
	cursor: pointer;
	color: #535555;
}

.logo {
	width: 1.6rem;
	height: 1.6rem;
}

.search-btn:hover,
.search-btn:focus {
	color: #212529;
	background-color: #e9ecef;
}
