.nav-search {
	position: fixed;
	background-color: #f0eff3;
	width: 100%;
	display: flex;
	justify-content: space-between;
	z-index: 999;
}

.sticky {
	position: fixed;
	bottom: 0;
	background-color: #f0eff3;
	width: 100%;
	display: flex;
	justify-content: space-between;
	z-index: 999;
}

.nav-content-bot {
	visibility: hidden;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 3.6rem;
	padding-right: 3rem;
	padding-left: 3rem;
}

.nav-content {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	height: 3.6rem;
	padding-right: 2.4rem;
	padding-left: 2.4rem;
	/* box-shadow: 0 0 3rem rgba(0, 0, 0, 0.15); */
}

.nav-searchbar {
	display: flex;
	align-items: center;
	width: 50%;
	justify-content: space-between;
	gap: 1.2rem;
	padding: 0.4rem 0.8rem;
	background-color: #fff;
	border: 2px solid transparent;
	border-radius: 500px;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}

.nav-searchbar:focus-within {
	border: 2px solid #373546;
}

@media screen and (max-width: 750px) {
	.nav-content .sort {
		display: none !important;
	}

	.nav-content {
		justify-content: center !important;
	}
	.nav-searchbar {
		width: 100%;
	}

	.nav-content-bot {
		visibility: visible;
	}
}

.searchbar {
	border: none;
	width: 100%;
	background-color: transparent;
	font-size: 1.2rem;
	cursor: text;
}

.searchbar-icon-container {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 0.8rem;
}

.searchbar-icon {
	color: #373546;
}

.close-icon {
	display: flex;
	align-items: center;
	cursor: pointer;
}

.searchbar:focus {
	outline: none;
}

.close-container {
	display: flex;
	align-items: center;
	justify-content: center;
	border-right: 1px solid #adb5bd;
	padding-right: 0.8rem;
}

/*  */

.nav-search {
	height: 4rem;
	border-bottom: 2px solid #ced4da;
	display: flex;
	align-items: center;
	justify-content: space-around;
}

.search-icon {
	width: 1.6rem;
	height: 1.6rem;
}

.sort {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 1.2rem;
}

.search-btn {
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: transparent;
	padding: 0.8rem;
	border-radius: 50%;
	border: none;
	cursor: pointer;
	color: #5c5875;
}

.logo {
	width: 1.6rem;
	height: 1.6rem;
}

.search-btn:hover,
.search-btn:focus {
	color: #373546;
	background-color: #dddce5;
}

/* Mobile Menu */
.mobile-menu {
	display: none;
	position: absolute;
	z-index: 10;
	width: 100%;
	/* height: calc(100vh - 60px); */
	height: 50vh;
	padding: 23px;
	/* overflow-y: scroll; */
	background: #fff;
	-webkit-box-shadow: 0px 20px 35px rgb(13 12 34 / 5%);
	box-shadow: 0px 20px 35px rgb(13 12 34 / 5%);
}
