* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	font-family: "Roboto", sans-serif;
	font-weight: 400;
	font-size: 1.618rem;
	line-height: 1.618rem;
	color: #212529;
	background-color: #f8f9fa;
}

.app-container {
	/* height: 100vh; */
	/* width: min(90%, 120rem); */
}

.notes-container-margin {
	margin: 2.4rem 1.2rem;
}

.notes-list {
	display: grid;
	/* grid-template-columns: repeat(auto-fit, minmax(250px, 1.2fr)); */
	grid-template-columns: repeat(2, 1fr);
	grid-row: span 2;
	/* grid-template-columns: repeat(2, 1fr); */
	row-gap: 2.4rem;

	align-items: center;
	justify-content: center;
}

.note-add {
	display: flex;
	align-items: center;
	justify-content: center;
}

.date {
	background-color: #f1f3f5;
	border-radius: 9px;
	padding: 0.2rem 0.4rem;
	font-size: 0.9rem;
	color: #343a40;
	font-weight: 600;
}

.note {
	font-weight: 400;
	width: 27rem;
	/* width: min-content; */
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	font-size: 1.1rem;
	justify-content: space-between;
	overflow-wrap: break-word;
	overflow: auto;
	box-shadow: rgba(0, 0, 0, 0.3) 0px 3px 3px;
	border: 2px solid transparent;
	border-radius: 9px;
	padding: 0.8rem 1.2rem;
	animation: all 0.2s ease-in;
}

.note:hover {
	border: 2px solid #fff;
}

.size {
	transform: scale(1.2);
}

.note-details {
	display: flex;
	justify-content: space-between;
	padding: 0.3rem 0;
	border-bottom: 2px solid #fff;
	align-items: center;
	margin-bottom: 0.8rem;
}

.note-tools {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 0.4rem;
}

.text-container {
	margin-bottom: 2.4rem;
}

.completed {
	text-decoration: line-through;
}

/*  */
.transition {
	animation-name: fadeIn;
	animation-duration: 3s;
	animation-iteration-count: 1;
}

@keyframes fadeIn {
	from {
		/* margin-left: 100%;
		width: 300%; */
	}

	/* to {
		margin-left: 0%;
		width: 100%;
	} */
}
